<?php

/** @var $block \Acme\Semaforo\Block\Product\View\Semaforo */

$product = $block->getProduct();
//$color = $block->getSkuColor($product->getSku());
$color = $product->getExtensionAttributes()->getColor();

?>

<?php if ($color) :?>
    <div id="semaforo" style="background-color: #<?php echo $color ?>; color: black; text-shadow: -2px 1px 1px grey; padding: 10px">
        <span>Semaforo</span>
    </div>
<?php endif; ?>